<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Watch - Analysis</title>
    <link rel="icon" type = "image/png" href = "../static/ScalesofJustice.png">
</head>
<body>
    <canvas id="chart" length=1000 width = 1000></canvas>
    <p>Traded at x={{tradeDay}}</p>
</body>
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    datas = JSON.parse('{{points | tojson | safe}}')
    const ctx = document.getElementById("chart")
    new Chart(ctx, {
        type: "scatter", 
        data: {
            datasets: [{
                label: "Cumulative Returns", 
                data: datas,
                backgroundColor: "rgb(255,99,132)"
            }]
        }, 

        options: {
            scales: {
                x:{
                    type: "linear",
                    position: "bottom"
                }
            }
        }
    })
</script>
{% endblock %}

</html>