<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Watch - Sources</title>
</head>
<a href="https://efdsearch.senate.gov/search/home/" target="_blank">Senate Financial Disclosures</a><br>
<a href="https://disclosures-clerk.house.gov/PublicDisclosure/FinancialDisclosure#Search" target="_blank">House Financial Disclosures</a><br>
<a href="https://finance.yahoo.com" target="_blank">Yahoo! Finance</a><br>
<br>
<a href={{url_for('home')}}>Go back to Public Watch</a>
</html>